<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
  <div class="form-group">
    <label class="control-label" style="margin-right: 10px;" >I am : </label>
    <label  class="radio-inline">
      <input type="radio" formControlName="gender" value="'male"> Male
    </label>
    <label  class="radio-inline">
      <input type="radio" formControlName="gender" value="'female" class="ml-3"> Female
    </label>
  </div>
  <app-text-input [formControl]="username" [label]="'Username'"></app-text-input>
  <app-text-input [formControl]="knownAs" [label]="'Known As'"></app-text-input>
  <app-date-input [formControl]="dateOfBirth" [label]="'Date Of Birth'" [maxDate]="maxDate"></app-date-input>
  <app-text-input [formControl]="city" [label]="'City'"></app-text-input>
  <app-text-input [formControl]="country" [label]="'Country'"></app-text-input>
  <app-text-input [formControl]="password" [label]="'Password'" [type]="'password'"></app-text-input>
  <app-text-input [formControl]="confirmPassword" [label]="'Confirm Password'" [type]="'password'"></app-text-input>

  <div class="row mb-2" *ngIf="validationErrors.length > 0">
    <h4 class="text-warning">Errors: </h4>
    <ul class="text-warning">
      <li *ngFor="let error of validationErrors">{{ error }}</li>
    </ul>
  </div>

  <div class="form-group text-center">
    <button [disabled]="registerForm.invalid" class="btn btn-success mr-2" type="submit">Register</button>
    <button class="btn btn-light mr-2" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
